<%- include header.ejs%>
<div class="container">
<div class="row">
<div class="box_content">
<div class="col-mg-4 col-sm-4"></div>
<div class="col-mg-4 col-sm-4" col-xs-12>
<div class="login_sec form">
<h3><b>ADMIN Register</b></h3>
<hr />
<form action="" method="post">
<input type="text" class="form-control" placeholder="Name" name="name" /><br />
<input type="text" class="form-control" placeholder="Email Id" name="username" /><br />
<input type="password" class="form-control" placeholder="Password" name="password" /><br />
<button class="btn btn-success">Register <i class="fa fa-user-plus"></i></button>
</form>
</div>
</div>
<div class="col-mg-4 col-sm-4"></div>
</div>
</div>
</div>
<%- include footer.ejs%>
